<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Shop Smartsoft</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">

    <table id="myTable" class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Item</th>
            <th>Count</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        <tr th:each="buyItem: ${buyItems}">
            <div class="form-group">
                <td th:utext="${buyItem.getId()}">...</td>
            </div>
            <div class="form-group">
                <td th:utext="${buyItem.getOrder().getPurchaseDate()}">...</td>
            </div>
            <td th:utext="${buyItem.getOrder().getUser().getName()} + ' '+ ${buyItem.getOrder().getUser().getLastName()}">
                ...
            </td>
            <div class="form-group">
                <td th:utext="${buyItem.getItem().getName()}">...</td>
            </div>
            <div class="form-group">
                <td th:utext="${buyItem.getCount()}">...</td>
            </div>
            <div class="form-group">
                <td th:utext="${buyItem.getAmount()}">...</td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>